body, html {
  margin: 0;
  padding: 0;
}

.joindocpal {
  margin-top: 10px;
}

.contenedor-flexjoin {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 20px;
}
.contenedor-flexjoin iframe {
  width: 50%;
  margin-right: 20px;
}
.contenedor-flexjoin .contenido-textojoin {
  flex: 1;
}

.contenedor-flexjoin .contenido-textojoin  p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-flexjoin {
    flex-direction: column;
  }
  .contenedor-flexjoin iframe {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

h2 {
  color: #006d46 !important;
  font-weight: bold !important;
}

h3 {
  color: #006d46 !important;
}

.contenedor-flex p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.navbar {
  background-color: rgba(122, 211, 190, 0.2);
}
.navbar-nav {
  margin-left: auto;
  margin-right: 20px;
}
.navbar-nav .navbar-brand, .navbar-nav .nav-link {
  color: #006d46 !important;
  font-weight: bold;
}
.navbar-nav .nav-link {
  text-decoration: underline;
}
.navbar-nav .nav-link:hover {
  color: black !important;
}
.navbar-nav .nav-link0 {
  font-weight: bold !important;
}

.btn-outline-primary {
  background-color: #1AAE9F !important;
  color: white !important;
  border-color: #1AAE9F !important;
}

.btn-outline-primary:hover {
  background-color: white !important;
  color: black !important;
}

.contenedor-flex {
  padding: 20px;
  display: flex;
  align-items: center;
}
.contenedor-flex img {
  width: 33.33%;
  margin-right: 20px;
}
.contenedor-flex .contenido-texto {
  width: 66.66%;
}
@media screen and (max-width: 768px) {
  .contenedor-flex {
    flex-direction: column;
  }
  .contenedor-flex iframe {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

#services-heading {
  background-color: rgba(122, 211, 190, 0.2);
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 20px;
}

.services {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto auto);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: rgba(122, 211, 190, 0.2);
}
.services > div {
  grid-column: span 2;
  display: grid;
  grid-template-rows: repeat(2, 1fr) auto auto;
}
.services > div img {
  grid-row: span 2;
  width: 100%;
}
.services > div h3,
.services > div p {
  margin: 0;
}
.services {
  animation-duration: 3s;
  animation-name: wipe-in-down;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:down"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
}

@media screen and (max-width: 768px) {
  .services > div {
    grid-column: span 6;
  }
}



/*# sourceMappingURL=stylenew.css.map */
